html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link,
.button {
  text-decoration: none;
}

.button {
  letter-spacing: 0.03em;
}

.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title,
.text {
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  text-align: center;
  color: #212121;
}

.text {
  text-align: left;
}

.section-title {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.167;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

body {
  color: #757575;
  background: #ffffff;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section {
  /* max-width: 1600px; */
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    max-width: 1600px;
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-features {
  padding-top: 0;
}

.link {
  display: block;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link.contact {
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.button {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
}

.button-hero {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover, .button-hero:focus {
  color: #2196f3;
  background: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 479px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header .header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .header {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .main-menu-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 1600px;
  }
}

.link:hover .icon,
.link:focus .icon {
  fill: #2196f3;
  /* --color5: var(--accent-color); */
  transition: --color2 250ms cubic-bezier(0.4, 0, 0.2, 1) --color5 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.active {
  position: relative;
  color: #2196f3;
}

.active::before {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .active::before {
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .main-menu-item .link {
    display: inline-block;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .main-menu-item > .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-container {
    font-size: 12px;
  }
  .contact-container-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact-container {
    margin-right: 15px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav,
  .contact-container .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-container-item:not(:last-child) {
    margin-right: 30px;
  }
}

.header .icon {
  margin-right: 10px;
  --color3: $primary-text-color;
  --color5: $primary-text-color;
}

.mobile-menu {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 50;
  padding-top: 60px;
  padding-right: 15px;
  padding-bottom: 60px;
  padding-left: 15px;
  opacity: 0;
  visibility: hidden;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  font-size: 18px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu .item {
  display: block;
  text-align: center;
}

.mobile-menu .main-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu .link {
  padding-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .contact-container {
    padding-top: 60px;
  }
  .contact-container-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container-mobile-menu {
    display: none;
  }
}

.mobile-menu-btn {
  border: none;
  background: rgba(0, 0, 0, 0);
}

.mobile-menu-btn .icon-cross {
  display: none;
}

.mobile-menu-btn.is-open .icon-cross {
  display: block;
}

.mobile-menu-btn.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 0;
    fill: #212121;
  }
  .mobile-menu-btn:hover, .mobile-menu-btn:focus {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.contact-container .icon {
  fill: #757575;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
}

.header .logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo.link.accent {
  color: #2196f3;
}

.logo .black {
  color: #212121;
}

.logo .white {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.174;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/hero/mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero/mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  max-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hero-content {
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
}

@media screen and (min-width: 1200px) {
  .hero .hero-content {
    padding-top: 200px;
  }
}

.hero .title {
  display: block;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/hero/mobile@2x-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero/mobile@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/hero/tablet-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero/tablet-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/hero/tablet@2x-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero/tablet@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero .title {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/hero/Imgdesk-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero/Imgdesk-min.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/hero/Imgdesk@2x-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero/Imgdesk@2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero .title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.364;
  }
}

.advanteges-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  text-align: left;
}

.advanteges-text {
  text-align: left;
  line-height: 1.71;
  margin-bottom: 6px;
}

.advantages .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .advanteges-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advanteges-item:nth-child(2) {
    position: relative;
    top: -12px;
  }
}

@media screen and (min-width: 768px) {
  .advantages .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantages .grid-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages .grid-item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.section-features {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section-features {
    display: none;
  }
}

.section-features .picture {
  display: block;
}

.section-features .item {
  position: relative;
}

.text-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.section-features .text {
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.features-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-team {
  max-width: 100%;
  background: #f5f4fa;
}

.our-team .grid-item:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .our-team .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -30px;
    margin-top: -30px;
  }
  .our-team .grid-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team .grid-item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.our-team-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team .picture {
  display: block;
  margin-bottom: 30px;
}

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  margin-bottom: 10px;
  color: #212121;
}

.our-team .text {
  font-size: 16px;
  line-height: 1.171;
  text-align: center;
  margin-bottom: 16px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
}

.social-links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: #2196f3;
}

.social-links .item:not(:last-child) {
  margin-right: 10px;
}

.our-team-link .icon {
  fill: #afb1b8;
  fill: #afb1b8;
}

.our-team-link:hover .icon,
.our-team-link:focus .icon {
  fill: #ffffff;
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .social-links {
    padding-bottom: 30px;
  }
}

.items-clients .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border cubic-bezier(0.4, 0, 0.2, 1) cubic-bezier(0.4, 0, 0.2, 1);
  transition: border cubic-bezier(0.4, 0, 0.2, 1) cubic-bezier(0.4, 0, 0.2, 1);
}

.items-clients .link:hover,
.items-clients .link:focus {
  border: 1px solid #2196f3;
}

.our-clients .icon {
  fill: #afb1b8;
  /* transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

.items-clients > .item:hover .icon,
.items-clients > .item:focus .icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.our-clients .grid-item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .our-clients .grid-item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .our-clients .grid-item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
  }
}

.footer {
  max-width: 100%;
  background-color: #2f303a;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 59px;
    padding-bottom: 59px;
  }
}

.footer-box {
  margin-bottom: 60px;
}

.contact-address {
  text-align: center;
  color: #ffffff;
  margin-top: 19px;
  font-style: normal;
}

.contact-address:hover,
.contact-address:focus {
  color: #ffffff;
}

.footer .logo {
  text-align: center;
}

.us-contact {
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
  margin-top: 8px;
}

.us-contact:hover,
.us-contact:focus {
  color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-box-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-box .call {
    display: inline-block;
    padding-top: 5px;
  }
}

.our-links .call {
  display: block;
  text-align: center;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.our-links-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-links-items .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-links-items .link:hover,
.our-links-items .link:focus {
  background-color: #2196f3;
}

.our-links-items .item:not(:last-child) {
  margin-right: 10px;
}

.footer .icon,
.our-link:hover .icon,
.our-link:focus .icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer .logo,
  .contact-address,
  .us-contact,
  .our-links .call {
    text-align: left;
  }
  .contact-address,
  .us-contact {
    line-height: 1.71;
  }
  .footer-box {
    margin-bottom: 0;
  }
  .footer-box:not(:last-child) {
    margin-right: 70px;
  }
  .our-links.footer-box,
  .form-container {
    padding-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .form .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.button-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  padding: 10px 55px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .form-container {
  margin-right: 0;
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .form-container {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

.form-button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.item-form:not(:last-child) {
  margin-right: 12px;
}

.form .call {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}

.item-form.email {
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1, 25;
  color: rgba(255, 255, 255, 0.6);
}

.item-form.email:focus {
  outline-color: #2196f3;
}

.button-submit.item-form {
  margin-right: auto;
  margin-left: auto;
  max-width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 8px;
}

.button-submit .sub-text {
  padding-right: 10px;
}

@media screen and (min-width: 1200px) {
  .item-form.email {
    width: 358px;
  }
  .form .call {
    text-align: left;
  }
  .button-submit.item-form {
    margin-right: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  height: 34px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  fill: #2196f3;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.modal-form-title {
  width: 370px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  padding-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

.modal-form .label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form .link-sub {
  font-size: 12px;
}

.subscribe {
  font-size: 14px;
  line-height: 1.71;
}

.link-sub {
  display: inline-block;
  color: #2196f3;
}

.modal-input {
  display: block;
  width: 370px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input .icon {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box:hover .icon,
.input-box:focus-within .icon {
  fill: #2196f3;
}

.input-box:hover .modal-input,
.input-box:focus .modal-input {
  border-color: accent-color;
  outline-color: #2196f3;
}

.label {
  margin-left: 7px;
}

.modal-input:hover,
.modal-input:focus {
  border-color: #2196f3;
  outline-color: #2196f3;
}

.input-box {
  position: relative;
}

.input-box .icon {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 18px;
  height: 18px;
}

.textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #212121;
}

.textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding-left: 13px;
  font-size: 12px;
  line-height: 1.167;
}

.checkbox-label .label {
  padding-left: 8px;
  padding-right: 4px;
  font-size: 12px;
  line-height: 1.167;
  margin-bottom: 0;
}

.checkbox-label .checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked ~ .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../img/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox:focus ~ .checkbox-icon {
  outline: #2196f3 2px solid;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (min-width: 480px) {
  .backdrop .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop .modal {
    width: 528px;
  }
  .modal-form-title {
    width: 480px;
    line-height: 23px;
  }
  .modal-input {
    width: 448px;
  }
  .checkbox-label .label {
    font-size: 14px;
    line-height: 1.743;
  }
  .modal-form .link-sub {
    font-size: 14px;
    line-height: 1.743;
  }
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .filter-list {
    margin-top: -15px;
  }
  .filter-list .item {
    margin-top: 15px;
  }
}

.button-filter {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover, .button-filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter .text {
  display: block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}

.projects {
  padding-top: 30px;
}

.projects .item {
  width: 100%;
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .projects .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects .item:first-child {
    position: relative;
    top: -18px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -30px;
    margin-top: -30px;
  }
  .projects .grid-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    padding-top: 50px;
  }
  .projects .grid-item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.projects .link:hover,
.projects .link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.text-thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link:hover .text-thumb,
.link:focus .text-thumb {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.projects .picture {
  width: 100%;
}

.projects .title {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  text-align: left;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */