.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity $transition-duration $time-function;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
