@media screen and(min-width: 1200px) {
  .form .block {
    display: flex;
  }
}

.button-submit {
  // text-align: center;
  width: 200px;
  padding: 10px 55px;
  color: $primary-white-color;
  background-color: $accent-color;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: color $transition-duration $time-function,
    background-color $transition-duration $time-function;
}

.footer .form-container {
  margin-right: 0;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .form-container {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

.form-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

// .form .block {
//   display: flex;
// }
.item-form:not(:last-child) {
  margin-right: 12px;
}

.form .call {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;

  color: $primary-white-color;
}

.item-form.email {
  padding-left: 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1, 25;
  color: rgba(255, 255, 255, 0.6);

  &:focus {
    outline-color: $accent-color;
  }
}

.button-submit.item-form {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 8px;
}

.button-submit .sub-text {
  padding-right: 10px;
}

@media screen and (min-width: 1200px) {
  .item-form.email {
    width: 358px;
  }

  .form .call {
    text-align: left;
  }

  .button-submit.item-form {
    margin-right: 0;
  }
}
