.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  &-portfolio {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
  }

  @media screen and (min-width: 768px) {
    .header > .container {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .header > .container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .main-menu-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 1600px;
  }
}

.link:hover .icon,
.link:focus .icon {
  fill: $accent-color;
  /* --color5: var(--accent-color); */
  transition: --color2 $transition-duration $time-function --color5
    $transition-duration $time-function;
}
