.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/mobile/hero/mobile.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  max-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;

  // font-weight: 900;
  // font-size: 26px;
  // line-height: 1.62;
  text-align: center;
  // letter-spacing: 0.06em;
  // text-transform: uppercase;

  &-content {
    // max-width: 696px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
  }

  @media screen and (min-width: 1200px) {
    .hero-content {
      padding-top: 200px;
    }
  }

  & .title {
    display: block;

    color: $primary-white-color;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/mobile/hero/mobile@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/mobile/hero/tablet-min.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/mobile/hero/tablet@2x-min.jpg);
    }
  }

  .hero .title {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/mobile/hero/Imgdesk-min.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../img/mobile/hero/Imgdesk@2x-min.jpg);
    }
  }

  .hero .title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.364;
  }
}
