.link {
  display: block;

  color: $title-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &.contact {
    color: rgba(117, 117, 117, 1);
    transition: $transition-duration $time-function;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// .main-nav .link,
// .link.contact {
//   padding-top: 32px;
//   padding-bottom: 32px;
// }
