// .main-nav .item {
//   position: relative;
// }

// .main-nav,
// .contact-container .link {
//   display: flex;
//   align-items: center;
// }

.active {
  color: $accent-color;

  &::before {
    content: '';
    // position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

// .contact-container {
//   display: flex;
//   margin-left: auto;
// }

.header .icon {
  margin-right: 10px;
  --color3: $primary-text-color;
  --color5: $primary-text-color;
}
