.backdrop .modal {
  position: absolute;
  left: 50%;
  top: 50%;

  // max-width: 450px;
  // max-height: 609px;

  background-color: $primary-white-color;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $transition-duration $time-function;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;

  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background: $primary-white-color;

  transition: fill $transition-duration $time-function;

  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  fill: $accent-color;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.modal-form-title {
  width: 370px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  padding-top: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: $title-text-color;
}

.modal-form .label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form .link-sub {
  font-size: 12px;
}

.subscribe {
  font-size: 14px;
  line-height: 1.71;
}

.link-sub {
  display: inline-block;
  color: $accent-color;
}

.modal-input {
  display: block;
  width: 370px;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;

  transition: border-color $transition-duration $time-function;
}

.modal-input .icon {
  fill: rgb(33, 33, 33);
  transition: fill $transition-duration $time-function;
}

.input-box:hover .icon,
.input-box:focus-within .icon {
  fill: $accent-color;
}

.input-box:hover .modal-input,
.input-box:focus .modal-input {
  border-color: accent-color;
  outline-color: $accent-color;
}

.label {
  margin-left: 7px;
}

.modal-input:hover,
.modal-input:focus {
  border-color: $accent-color;
  outline-color: $accent-color;
}

.input-box {
  position: relative;
}

.input-box .icon {
  position: absolute;
  top: 12px;
  left: 15px;

  width: 18px;
  height: 18px;
}

.textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  color: $title-text-color;
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 13px;
  font-size: 12px;
  line-height: 1.167;
}

.checkbox-label .label {
  padding-left: 8px;
  padding-right: 4px;
  font-size: 12px;
  line-height: 1.167;
  margin-bottom: 0;
}

.checkbox-label .checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: background-color $time-function $transition-duration,
    border-color $time-function $transition-duration;

  width: 16px;
  height: 15px;

  border: 2px solid $title-text-color;
  border-radius: 2px;
}

.checkbox:checked ~ .checkbox-icon {
  background-color: $accent-color;
  background-image: url(../img/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: $accent-color;
}

.checkbox:focus ~ .checkbox-icon {
  outline: $accent-color 2px solid;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (min-width: 480px) {
  .backdrop .modal {
    width: 450px;
    // height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop .modal {
    width: 528px;
    // height: 581px;
  }

  .modal-form-title {
    width: 480px;
    line-height: 23px;
  }

  .modal-input {
    width: 448px;
  }

  // .checkbox-label {
  //   font-size: 14px;
  // }

  .checkbox-label .label {
    font-size: 14px;
    line-height: 1.743;
  }

  .modal-form .link-sub {
    font-size: 14px;
    line-height: 1.743;
  }
}
