.items-clients .link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border $time-function $time-function;
}

.items-clients .link:hover,
.items-clients .link:focus {
  border: 1px solid $accent-color;
}

.our-clients .icon {
  fill: #afb1b8;

  /* transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

.items-clients > .item:hover .icon,
.items-clients > .item:focus .icon {
  fill: $accent-color;

  transition: fill $transition-duration $time-function;
}
.our-clients {
  .grid {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
    margin-left: -30px;
    margin-top: -30px;
  }

  .grid-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    .grid-item {
      flex-basis: calc(100% / 3 - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    .grid-item {
      flex-basis: calc(100% / 6 - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }
  }
}
