.our-team {
  max-width: 100%;
  background: #f5f4fa;
}

.our-team-item {
  background: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}
.our-team .picture {
  display: block;
  margin-bottom: 30px;
}
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;

  color: $title-text-color;
}

.our-team .text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  justify-content: center;
  // list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
}

.social-links .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color $transition-duration $time-function;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: $accent-color;
}

.social-links .item:not(:last-child) {
  margin-right: 10px;
}
.our-team-link .icon {
  fill: #afb1b8;
  fill: #afb1b8;
}

.our-team-link:hover .icon,
.our-team-link:focus .icon {
  fill: $primary-white-color;
  fill: $primary-white-color;

  transition: $transition-duration $time-function;
}
