.projects {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;

  .item {
    width: 100%;
    border: 1px solid #eeeeee;

    transition: box-shadow $transition-duration $time-function;
  }

  .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

// .projects .item:not(:nth-child(3n)) {
//   margin-right: 30px;
// }

// .projects .item:not(:nth-child(n + 7)) {
//   margin-bottom: 30px;
// }

.projects .link:hover,
.projects .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.text-thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;

  transform: translateY(101%);
  transition: transform $time-function $transition-duration;

  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $primary-white-color;
}

.link:hover .text-thumb,
.link:focus .text-thumb {
  transform: translate(0);
}

.projects .picture {
  width: 100%;
}

.projects .title {
  text-align-last: left;

  width: 320px;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.projects-text {
  text-align: left;

  width: 320px;
  padding-bottom: 20px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $primary-text-color;
  letter-spacing: 0.03em;
}
