.footer {
  max-width: 100%;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-address {
  color: $primary-white-color;
  display: inline-block;
  margin-top: 20px;
  font-style: normal;
}
.contact-address:hover,
.contact-address:focus {
  color: $primary-white-color;
}

.footer .logo {
  padding-bottom: 10px;
}

.us-contact {
  color: rgba(250, 250, 250, 0.6);
  display: inline-block;
  margin-top: 9px;
}
.us-contact:hover,
.us-contact:focus {
  color: rgba(250, 250, 250, 0.6);
}

.footer .container {
  display: flex;
}
.our-links {
  margin-left: 70px;
}
.our-links .call {
  display: block;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;
}

.our-links-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.our-links-items .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color $transition-duration $time-function;
}

.our-links-items .link:hover,
.our-links-items .link:focus {
  background-color: $accent-color;
}

.our-links-items .item:not(:last-child) {
  margin-right: 10px;
}

.footer .icon,
.our-link:hover .icon,
.our-link:focus .icon {
  fill: $primary-white-color;
}

.footer {
  background-color: #2f303a;
}
