html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link,
.button {
  text-decoration: none;
}

.button {
  letter-spacing: 0.03em;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title,
.text {
  margin-top: 0;
  margin-bottom: 0;
}
.title {
  text-align: center;
  color: $title-text-color;
}
.text {
  text-align: left;
}

.section-title {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 700;
  // font-size: 36px;
  line-height: 1.167;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}
